<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Classroom</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/public/styles/navAndTabs.css">
</head>
<body>
    <div class="container-fluid">
        
        <div style="background-color: indigo;" class="showOrHide fw-bolder pt-1 mb-2 border-bottom border-dark">
            <h1 class="text-center text-warning border-bottom border-light pb-2">+Create New Classroom</h1>
            <div class="menu ms-3 d-flex justify-content-between">
                <a href="/homepage" class=" text-decoration-none text-white">Classroom Galeria</a>
               
    
                <div class="me-3">
                    <a href="/logout" class=" text-decoration-none text-light">Logout</a>
                  
                </div>
            </div>
        </div>
    </div>
   
    <form action="/createNewClassroom" method="post">
        <label>
            Class Name:
            <input type="text" name="className">
        </label>
        <br>
        <span class="d-flex">
            <span class="me-4">
                Class Days:
            </span>
            <input type="checkbox" name="classDays" value="monday">
            Monday
            <input type="checkbox" name="classDays" value="tuesday">
            Tuesday
            <input type="checkbox" name="classDays" value="wednesday">
            Wednesday
            <input type="checkbox" name="classDays" value="thurday">
            Thursday
            <input type="checkbox" name="classDays" value="friday">
            Friday
            <input type="checkbox" name="classDays" value="saturday">
            Saturday
            <input type="checkbox" name="classDays" value="sunday">
            Sunday
        </span>
        <br>
        <label>
            Number of Weeks:
            <input type="number" name="numberOfWeeks">
        </label>
        <br>
        <br>
        <input type="submit">
    </form>
    <!-- <script src="/public/script/menuHamburger.js"></script> -->
</body>
</html>