<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="public/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/public/styles/navAndTabs.css">
</head>
<body>
    <div class="container-fluid ">
        <h1 class="text-center">Login</h1>

        <div class="showOrHide d-flex justify-content-between py-4 px-2" style="background-color: indigo;">
            <div>
                <a href="/" class="text-decoration-none text-white">Back</a>
            </div>
            <div class="d-flex gap-2">

                <!-- <a href="/logout" class="text-decoration-none text-white">Logout</a> -->
                <a href="/register" class="text-decoration-none text-white">Register</a>
                <a href="/login" class="text-decoration-none text-white">Login</a>
            </div>
        </div>
    </div>
    
    <form action="/login" method="post">
        <label>
            Email:
            <input type="email" name="instructorEmail">
        </label>
        <br>
        <label>
            Password:
            <input type="password" name="instructorPassword">
        </label>
        <br>
        <br>
        <input type="submit">
    </form>

    <script src="/public/script/menuHamburger.js"></script>
</body>
</html>